/* signup.css */

.personal-container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

    .personal-container h2 {
        margin-bottom: 25px;
        text-align: center;
    }
    .personal-container h1 {
        margin-bottom: 50px;
    }

.profile {
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
    }

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-secondary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

    .btn-secondary:hover {
        background-color: #0056b3;
    }

/* Ќовый стиль дл€ ссылки на презентацию */
.btn-link {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

    .btn-link:hover {
        background-color: #0056b3;
    }

