@page
@*@model UserBindingModel*@
@model CheckoutModel
}
@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLSFRa0DyBj9VGzT7GM6SFbSMcG0YNBM"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        function initialize() {
            var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(23.763494, 90.432226)
            };

            var map = new google.maps.Map(document.getElementById('googleMap'),
                mapOptions);


            var marker = new google.maps.Marker({
                position: map.getCenter(),
                animation: google.maps.Animation.BOUNCE,
                icon: 'imgages/map-marker.png',
                map: map
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script src="js/main.js"></script>
}

<div class="w-widget w-widget-map" data-widget-style="roadmap" data-widget-latlng="37.77493,-122.419416" data-enable-scroll="false" data-disable-scroll="1" role="" title="" data-enable-touch="true" data-widget-zoom="12" data-widget-tooltip=""></div>
<div class="section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">Contact Us Today</h2>
            <div class="section-subheading center">This is some text inside of a div block.</div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. <br /><br />Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et <br />justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <div class="form-wrapper w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="65ead16d163c4c9c255c951c" data-wf-element-id="27936258-2043-8d11-eaa1-4a3d223fe288">
                <input class="form-field w-input" maxlength="256" name="Name" data-name="Name" placeholder="Enter your name..." type="text" id="Name" required="" />
                <input class="form-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email..." type="email" id="Email" required="" />
                <textarea id="field-2" name="field-2" placeholder="Message" maxlength="5000" data-name="Field 2" class="form-field text-area w-input"></textarea>
                <input type="submit" data-wait="Please wait..." class="button full-width w-button" value="Send Carrier Pigeon" />
            </form>
         @*   <form asp-page="Checkout">
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input class="form-control" asp-for="Input.FirstName" />
                    <span asp-validation-for="Input.FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input class="form-control" asp-for="Input.LastName" />
                    <span asp-validation-for="Input.LastName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input class="form-control" asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input class="form-control" asp-for="Input.PhoneNumber" />
                    <span asp-validation-for="Input.PhoneNumber"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
*@
            <div class="w-form-done">
                <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
                <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
        </div>
    </div>
</div>