@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
}
<ul>

    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
    <li>
        <a asp-controller="Room" asp-action="Index">ROOMS</a>
        <ul class="submenu">
            <li><a asp-controller="Room" asp-action="RoomList">ROOM LIST</a></li>
            <li><a asp-controller="Room" asp-action="RoomDetails">ROOM DETAILS</a></li>
        </ul>
    </li>
    <li>
        <a href="#">ACTIVITIES</a>
        <ul class="submenu megamenu">
            <li>
                <a href="#">Megamenu List</a>
                <ul>
                    <li><a asp-controller="Location" asp-action="Index">Location</a></li>
                    <li><a href="room-grid.html">Room Grid</a></li>
                    <li><a asp-controller="Room" asp-action="RoomList">Room List</a></li>
                    <li><a asp-controller="Room" asp-action="RoomDetails">Room Details</a></li>
                    <li><a href="#">Mega menu</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Megamenu List</a>
                <ul>
                    <li><a asp-controller="Event" asp-action="Index">Event</a></li>
                    <li><a href="#">Mega menu</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="Team" asp-action="Index">Team</a></li>
                    <li><a href="#">Mega menu</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Megamenu List</a>
                <ul>
                    <li><a asp-controller="Room" asp-action="RoomList">Room List</a></li>
                    <li><a href="#">Mega menu</a></li>
                    <li><a href="room-grid.html">Room Grid</a></li>
                    <li><a asp-controller="Room" asp-action="RoomDetails">Room Details</a></li>
                    <li><a href="#">Mega menu</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a asp-controller="Location" asp-action="Index">LOCATION</a></li>
    <li><a asp-controller="Event" asp-action="Index">EVENT</a></li>
    <li><a asp-controller="Team" asp-action="Index">TEAM</a></li>
    <li><a asp-controller="Home" asp-action="Contact">CONTACT</a></li>

</ul>
*@