@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
	ViewData["Title"] = "Sign Up";
}

@section style {
	<link href="css/signup.css" rel="stylesheet" type="text/css" />
}

<div class="signup-container">
	<h2>Sign Up for Smash Cats</h2>

	<form id="signup-form" method="post" action="@Url.Action("Login", "Login")">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" name="login" required>
		</div>
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" id="email" name="email" required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" required>
		</div>
		<button type="submit" class="btn btn-primary">Sign Up</button>
		<button type="button" class="btn btn-secondary" id="signin-button">Sign In</button>
	</form>

	<form id="signin-form" method="post" action="@Url.Action("SignIn", "Login")" style="display: none;">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username-signin" name="login" required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password-signin" name="password" required>
		</div>
		<button type="submit" class="btn btn-primary">Sign In</button>
	</form>

	<script>
		var signupForm = document.getElementById("signup-form");
		var signinForm = document.getElementById("signin-form");

		var signinButton = document.getElementById("signin-button");

		signinButton.addEventListener("click", function () {

			signupForm.style.display = "none";
			signinForm.style.display = "block";
		});
	</script>


</div>