@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
	ViewData["Title"] = "Personal Area";
}
@model User

@section style {
    <link rel="stylesheet" href="css/personal.css" type="text/css" />
}

<div class="personal-container">
    <h1>Личный кабинет</h1>

    <div class="profile">
        <h2>Профиль</h2>
        @if (Model != null)
        {
            <p><strong>Имя пользователя:</strong> @Model.Name</p>
            <p><strong>Email:</strong> @Model.Email</p>
        }
        else
        {

            <p>Информация о пользователе не доступна.</p>
        }
    </div>

    <div class="achievements">
        <h2>Достижения</h2>
        <form id="achievementsForm">
            <div id="achievementsList">
                <div class="form-group">
                    <input type="text" class="form-control" name="achievements[]" placeholder="Введите ваше достижение" />
                </div>
            </div>
            <button type="button" class="btn-secondary" onclick="addAchievement()">Добавить достижение</button>
        </form>
        @*<form id="achievementsForm" method="post" asp-action="Index">
            <div id="achievementsList">
                @if (Model.Achievements != null)
                {
                    @foreach (var achievement in Model.Achievements)
                    {
                        <div class="form-group">
                            <input type="text" class="form-control" name="achievements[]" value="@achievement.Description" />
                        </div>
                    }
                }
                <!-- Начальное поле для ввода достижения -->
                <div class="form-group">
                    <input type="text" class="form-control" name="achievements[]" placeholder="Введите ваше достижение" />
                </div>
            </div>
            <button type="button" class="btn-secondary" onclick="addAchievement()">Добавить достижение</button>
            <button type="submit" class="btn-primary">Сохранить достижения</button>
        </form>*@
    </div>

    <a href="~/CatSmash.pdf" class="btn-link">Ссылка на презентацию</a>
</div>

@section additional_scripts {
    <script>
        function addAchievement() {
            var achievementsList = document.getElementById('achievementsList');
            var newAchievement = document.createElement('div');
            newAchievement.classList.add('form-group');
            newAchievement.innerHTML = '<input type="text" class="form-control" name="achievements[]" placeholder="Введите ваше достижение" />';
            achievementsList.appendChild(newAchievement);
        }
    </script>
}